@import "../../../assets/variables.scss";

body {
  color: var(--primary-color-title);
  height: 15vh;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  .links {
    display: none;
  }
}

a {
  font-size: 1.5rem;
  color: var(--primary-color-title);
  margin-top: 1.5rem;
  transition: 0.2s;
  z-index: 1;
}

a:hover {
  transform: translateY(-1vh);
  color: var(--secondary-color);
}

@media screen and (max-width: 835px) {
  .links{
    display: flex !important;
    justify-content: space-evenly;
    width: 100%;
  padding-left: 0;

  }
}
