<body>
  <div class="links">
    <a href="https://github.com/majutestoni" target="_blank">
      <i class="fa-brands fa-github"></i>
    </a>
    <a class="" href="https://www.linkedin.com/in/majutestoni/" target="_blank">
      <i class="fa-brands fa-linkedin-in"></i>
    </a>
    <a href="https://www.instagram.com/majutestoni/" target="_blank">
      <i class="fa-brands fa-instagram"></i>
    </a>
  </div>

  <div class="direitos">
    <article>Feito por Maria Júlia Testoni</article>
  </div>
</body>
