<div class="welcome">
  <h1>Bem vindo(a)!</h1>
  <h4>
    Eu sou a Maju e trabalho como desenvolvedora web full-stack, segue algumas
    tecnologias que eu conheço/tenho experiencia:
  </h4>
  <ul>
    <li>Angular</li>
    <li>Java</li>
    <li>Typescript</li>
    <li>Spring</li>
    <li>PostgreeSQL</li>
    <li>Mysql</li>
    <li>Node</li>
    <li>Express</li>
  </ul>
  <div (click)="emitEvent()" class="more">
    <a class="arrow-container">
      <div class="arrow"></div>
      <div class="arrow"></div>
      <div class="arrow"></div>
    </a>
  </div>
</div>
