<div class="wrapper">
    <h5 class="efeito">MJ</h5>
    <div class="bnt-mudarTema">
        <app-toggle-time (changeTheme)="darkTheme($event)"></app-toggle-time>
    </div>
    <div class="big-screen">
        <app-button [text]="'Curriculo'"></app-button>
    </div>
    <div class="burguer">
        <div class="wrapper-menu {{ open ? 'open' : '' }}" (click)="openMenu()">
            <div class="line-menu half start"></div>
            <div class="line-menu"></div>
            <div class="line-menu half end"></div>
        </div>
    </div>
    <div class="right">
        <div class="menu {{ open ? 'abrir' : '' }}">
            <ul>
                <li class="toggle-time"><app-toggle-time (changeTheme)="darkTheme($event)"></app-toggle-time></li>
                <li><a (click)="goToSection('welcome')">Inicio</a></li>
                <li><a (click)="goToSection('about')">Sobre</a></li>
                <li><a (click)="goToSection('work')">Profissão</a></li>
                <li><a (click)="goToSection('projects')">Projetos</a></li>
                <li><a (click)="goToSection('contact')">Contato</a></li>
                <li>
                    <app-button [text]="'Curriculo'"></app-button>
                </li>
            </ul>
        </div>
    </div>
    <header class="{{ color ? 'color' : '' }} animated-background" [ngClass]="{ visible: color }"></header>
</div>
