<div class="wrapper">
    <h5 class="efeito">MJ</h5>
<div class="bnt-mudarTema">
        <app-toggle-time (changeTheme)="darkTheme($event)"></app-toggle-time>
    </div>
    <div class="bnt-mudarLingua">
        <div class="switch-button">
            <input (change)="changeLanguage()" class="switch-button-checkbox" type="checkbox" />
            <label class="switch-button-label" for=""><span class="switch-button-label-span">Potugues</span></label>
        </div>
    </div>

    <div class="big-screen">
        <app-button [text]="'Curriculo'"></app-button>
    </div>
    <div class="burguer">
        <div class="wrapper-menu {{ open ? 'open' : '' }}" (click)="openMenu()">
            <div class="line-menu half start"></div>
            <div class="line-menu"></div>
            <div class="line-menu half end"></div>
        </div>
    </div>
    <div class="right">
        <div class="menu {{ open ? 'abrir' : '' }}">
            <ul>
                <li>
                    <div class="switch-button">
                        <input (change)="changeLanguage()" class="switch-button-checkbox" type="checkbox" />
                        <label class="switch-button-label" for=""><span class="switch-button-label-span">Potugues</span></label>
                    </div>
                </li>
                <li><app-toggle-time-2 (changeTheme)="darkTheme($event)"></app-toggle-time-2></li>

                <li>
                    <a (click)="goToSection('welcome')">{{ 'portfolio_start' | translate }}</a>
                </li>
                <li>
                    <a (click)="goToSection('about')">{{ 'portfolio_about' | translate }}</a>
                </li>
                <li>
                    <a (click)="goToSection('work')">{{ 'portfolio_work' | translate }}</a>
                </li>
                <li>
                    <a (click)="goToSection('projects')">{{ 'portfolio_projects' | translate }}</a>
                </li>
                <li>
                    <a (click)="goToSection('contact')">{{ 'portfolio_contact' | translate }}</a>
                </li>
                <li>
                    <app-button [text]="'Curriculo'"></app-button>
                </li>
            </ul>
        </div>
    </div>
    <header class="{{ color ? 'color' : '' }} animated-background" [ngClass]="{ visible: color }"></header>
</div>
