@import '../../../assets/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@400;600&family=Roboto&display=swap');

.wrapper {
    position: relative;
}

h5.efeito {
    position: fixed;
    left: 30px;
    z-index: 10;
    /* Adicione aqui outros estilos conforme necessário */
}

.big-screen {
    position: fixed;
    top: 2vh;
    right: 30px;
    z-index: 100;
    /* Adicione aqui outros estilos conforme necessário */
}

.color {
    background-color: var(--header-background);
    box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(10px);
}

header.visible {
    height: 80px;
}

.header-content {
    /* Se necessário, adicione esta classe aos elementos filhos do header para garantir a animação correta */
    opacity: 0;
    transition: opacity 0.5s ease;
}

header.visible .header-content {
    opacity: 1;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    top: 0;
    z-index: 8;

    height: 0;
    overflow: hidden;
    transition:
        height 0.5s ease,
        backdrop-filter 0.5s ease,
        box-shadow 0.5s ease;

    .left {
        margin-left: 10%;
    }

    .right {
        justify-content: space-around;
        margin-right: 10%;
    }
}

.efeito {
    cursor: pointer;
    text-transform: uppercase;
    font-family: verdana;
    font-size: 6vh;
    font-weight: 700;
    color: hsl(267, 88%, 54%);
    transition: 0.2s;
    text-shadow:
        1px 1px 1px hsl(279, 100%, 32%),
        1px 2px 1px hsl(279, 100%, 32%),
        1px 1px 1px hsl(279, 100%, 32%),
        1px 4px 1px hsl(279, 100%, 32%),
        1px 5px 1px hsl(279, 100%, 32%),
        1px 14px 6px rgba(16, 16, 16, 0.4),
        1px 14px 2px rgba(16, 16, 16, 0.2),
        1px 25px 35px rgba(16, 16, 16, 0.2),
        1px 20px 40px rgba(16, 16, 16, 0.4);
}

.efeito:hover {
    filter: brightness(110%);
    -webkit-filter: brightness(110%);
    transform: translateY(-2px);
    transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.wrapper-menu {
    position: fixed;
    top: 20px;
    width: 40px;
    height: 40px;
    left: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 330ms ease-out;
    z-index: 20;
}

.wrapper-menu.open {
    transform: rotate(-45deg);
}

.line-menu {
    background-color: var(--primary-color-title);
    border-radius: 5px;
    width: 100%;
    height: 6px;
}

.line-menu.half {
    width: 50%;
}

.line-menu.start {
    transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transform-origin: right;
}

.open .line-menu.start {
    transform: rotate(-90deg) translateX(3px);
}

.line-menu.end {
    align-self: flex-end;
    transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transform-origin: left;
}

.open .line-menu.end {
    transform: rotate(-90deg) translateX(-3px);
}

.menu {
    position: fixed;
    right: 0;
    top: 0;
    width: 0;
    z-index: 10;
    background-color: var(--backgroud-menu);
    overflow: hidden;
    height: 100vh;
    transition: width 0.5s ease-out;
    box-shadow: -10px 0px 30px -15px #200f34c8;

    ul {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        justify-content: center;
    }

    li {
        padding: 0.7rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
    }

    a {
        font-family: 'Martian Mono', monospace;
        color: var(--primary-color);
        outline: none;
        text-decoration: none;
    }
}

.menu.abrir {
    width: min(75vw, 400px);
}

.burguer {
    display: none;
}

.toggle-time{
  position: absolute;
  left: 50%;
  top: 20vh;

}

.bnt-mudarTema {
    position: fixed;
    top: 5vh;
    left: 40%;
    z-index: 9;
}

@media screen and (max-width: 835px) {
    .big-screen {
        display: none;
    }

    .bnt-mudarTema {
        display: none;
    }
    .bnt-mudarLingua{
      display: none;
    }

    .switch-button{
      top: 10vh;
      position: absolute;
    }

    //.toggle-time{
     // display: block;
   // }

    .burguer {
        display: block;
    }
}

.bnt-mudarLingua{
  position: fixed;
  top: 2vh;
  left: 60%;
  z-index: 9;
}
.switch-button {

  background: var(--back-language);
  border-radius: 30px;
  overflow: hidden;
  width: 200px;
  text-align: center;
  font-size: 14px;
  letter-spacing: 1px;
  color: var(--button);
  padding-right: 90px;

  &:before {
    content: "English";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    pointer-events: none;
  }

  &-checkbox {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;

    &:checked + .switch-button-label:before {
      transform: translateX(105px);
      transition: transform 300ms linear;
    }

    & + .switch-button-label {
      position: relative;
      padding: 15px 0;
      display: block;
      user-select: none;
      pointer-events: none;

      &:before {
        content: "";
        background: var(--select-language);
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 30px;
        transform: translateX(0);
        transition: transform 300ms;
      }

      .switch-button-label-span {
        position: relative;
      }
    }
  }
}
