<div class="contact">
    <app-title [title]="'portfolio_contact_title' | translate" [topic]="'0100'"></app-title>
    <div class="data">
        <div class="toast-container position-fixed bottom-0 end-0 p-3">
            <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <img src="assets/img/favicon.png" width="20" class="rounded me-2" alt="..." />
                    <strong class="me-auto">{{'"portfolio_contact_email"' | translate}}</strong>
                    <small>{{'"portfolio_contact_email_1"' | translate}}</small>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">{{'"portfolio_contact_email_2"' | translate}}</div>
            </div>
            <div id="liveToastError" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <img src="assets/img/favicon.png" width="20" class="rounded me-2" alt="..." />
                    <strong class="me-auto">{{'"portfolio_contact_erro"' | translate}}</strong>
                    <small>{{'"portfolio_contact_email_1"' | translate}}</small>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                  {{'"portfolio_contact_erro_1"' | translate}}
                </div>
            </div>
        </div>

        <div class="texto">
            <h1>{{'portfolio_contact_h1' | translate}}</h1>
            <p>
                {{'portfolio_contact_p' | translate}}
            </p>
            <app-tag-a [icon]="'fa-regular fa-envelope'" (click)="openEmail()" [text]="'majuliatestoni@gmail.com'"></app-tag-a>
        </div>
        <div class="wrapper">



            <form [formGroup]="formGroup" action="https://formsubmit.co/majuliatestoni@gmail.com" method="POST">
                <div class="group">
                    <input type="text" formControlName="name" />
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>{{'portfolio_name' | translate}}</label>
                </div>
                <div class="group">
                    <input type="text" formControlName="email" />
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Email</label>
                </div>
                <div class="group">
                    <textarea rows="2" formControlName="message"></textarea>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>{{'portfolio_message' | translate}}</label>
                </div>
                <app-button (click)="enviar()" [text]="'portfolio_send' | translate"></app-button>
            </form>
        </div>
        <!--
    <app-button (click)="openEmail()" [text]="'Email'"></app-button>

    <p class="mt-5">E tambem estou sempre por outras redes:</p>
    <div class="row">
      <div
        class="badge-base LI-profile-badge mt-5 col-6"
        data-locale="pt_BR"
        data-size="large"
        data-theme="dark"
        data-type="HORIZONTAL"
        data-vanity="majutestoni"
        data-version="v1"
      >
        <a
          class="badge-base__link LI-simple-link"
          href="https://br.linkedin.com/in/majutestoni?trk=profile-badge"
        ></a>
      </div>
    </div>-->
    </div>
</div>
