<body>
  <app-title [title]="'Projetos'" [topic]="'0100'"></app-title>
  <div >
    <div class="row">
        <div data-aos="fade-up" data-aos-duration="2000" *ngFor="let project of projects" class=" col-md-6 col-sm-12 projeto">
          <app-project
            [title]="project.title"
            [linkGithub]="project.linkGithub"
            [linkProject]="project.linkProject"
            [description]="project.description"
            [tecnologies]="project.tecnologies"
          ></app-project>
        </div>
    </div>
  </div>
</body>
