<div class="about">
  <app-title [title]="'Quem é Maju?'" [topic]="'0010'"></app-title>
  <div class="style-about">
    <div class="inner">
      <div data-aos="fade-right" class="style-text">
        <div>
          <p>
            Olá pessoas, eu me chamo Maria Júlia Testoni (infelizmente Maju não
            é um nome)
          </p>
          <p>
            Atualmente sou estudante de Ciência da Computação na Furb
            <app-tag-a
              [text]="'(grade)'"
              [link]="
                'https://www.furb.br/sites/default/files/2022-06/GRADE%20computa%C3%A7ao.pdf'
              "
            ></app-tag-a>
             e formada com técnico em Mecatronica que fiz integrado ao ensino
            médio onde tive a oportunidade de conhecer o mundo da tecnologia
            (como Arduino)
          </p>

          <p>
            Apesar dessa vibe que mistura protoboard, diagramas eletricos e
            automação o meu interesse é por web, que comecei a codar no fim de
            2021.
          </p>
          <p>
            Mudando de assunto, eu tenho um filho de 4 patas loirinho chamado
            Fred e no meu tempo livre gosto de ler e ver The Office
          </p>
        </div>
      </div>

      <div class="style-pic mt-5">
        <div class="wrapper">
          <img
            class="img"
            width="300"
            src="../../../../assets/img/eu-e-fre.jpg"
            alt="Headshot"
          />
        </div>

        <p class="mt-4">
          <i class="fa-solid fa-house"></i>
          Gaspar, Santa Catarina
        </p>
      </div>
    </div>
  </div>
</div>
