<div class="about">
  <app-title [title]="'portfolio_about_title' | translate" [topic]="'0010'"></app-title>
  <div class="style-about">
    <div class="inner">
      <div data-aos="fade-right" data-aos-duration="3000" class="style-text">
        <div>
          <p>
            {{'portfolio_about_p1' | translate }}
          </p>
          <p>
            {{'portfolio_about_p2' | translate }}
            <app-tag-a
              [text]="'(' + ('portfolio_about_link' | translate  ) + ')'"
              [link]="
                'https://www.furb.br/sites/default/files/2022-06/GRADE%20computa%C3%A7ao.pdf'
              "
            ></app-tag-a>
            {{'portfolio_about_p3' | translate }}
          </p>

          <p>
            {{'portfolio_about_p4' | translate }}
          </p>
          <p>
            {{'portfolio_about_p5' | translate }}
          </p>
        </div>

        <ul>
          <li>Angular</li>
          <li>Java</li>
          <li>Typescript</li>
          <li>Spring</li>
          <li>PostgreeSQL</li>
          <li>Mysql</li>
          <li>Node</li>
          <li>Express</li>
        </ul>
      </div>

      <div class="style-pic mt-5">
        <div class="wrapper">
          <img
            class="img"
            width="300"
            src="../../../../assets/img/eu-e-fre.jpg"
            alt="Headshot"
          />
        </div>

        <p class="mt-4">
          <i class="fa-solid fa-house"></i>
          Blumenau, Santa Catarina
        </p>
      </div>
    </div>




  </div>
</div>
