<app-header (menuIsOpen)="menuIsOpen($event)"></app-header>
<div class="conteudo">
  <div class=" {{ open ? 'fundo open' : '' }}"></div>
  <section>
    <app-welcome (clickMore)="gotToSection(about, 'about')"></app-welcome>
  </section>
  <section #about>
    <app-about class="anchor"></app-about>
  </section>
  <section #work>
    <app-work class="anchor"></app-work>
  </section>
  <section #projects>
    <app-projects class="anchor"></app-projects>
  </section>
  <section #contact>
    <app-contact class="anchor"></app-contact>
  </section>
</div>
<div class="side-left"><app-side-left></app-side-left></div>
<footer>
  <app-footer></app-footer>
</footer>
