<app-header (menuIsOpen)="menuIsOpen($event)"></app-header>
<div class="conteudo">
  <div class=" {{ open ? 'fundo open' : '' }}"></div>
  <section>
    <app-welcome></app-welcome>
  </section>
  <section>
    <app-about></app-about>
  </section>
  <section>
    <app-work></app-work>
  </section>
  <section>
    <app-projects></app-projects>
  </section>
  <section>
    <app-contact></app-contact>
  </section>
</div>
<div class="side-left"><app-side-left></app-side-left></div>
<footer>
  <app-footer></app-footer>
</footer>
