@import '../assets/variables.scss';

footer {
  display: none;
}

.anchor {
  display: block;
  position: relative;
  top: 20vh;
}
.anchor2 {
  display: block;
  position: relative;
  top: 10vh;
}

.fundo {
  position: fixed;
  top: 0;
  right: 0;

  left: 0;
  z-index: 5;
  bottom: 0;
  transition: backdrop-filter 0.2s;
}

.fundo.open {
  backdrop-filter: blur(5px) brightness(0.7);
}

.conteudo {
  margin-left: 20%;
  margin-right: 15%;
}

nav {
  position: fixed;
  top: 65vh;
  right: 5%;
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.7s;
  li {
    font-size: 0.75rem;
    color: $primary-color-title;
    margin-top: 0.75rem;
    transition: 0.2s;
  }

  li:hover {
    transform: translateY(-1vh);
    color: $secondary-color;
  }
}

@media screen and (max-width: 835px) {
  .conteudo {
    margin-left: 10%;
    margin-right: 10%;
  }
  .side-left {
    display: none;
  }

  footer {
    display: block;
  }
}
