<div class="body">
  <app-title [title]="'Experiência'" [topic]="'010'"></app-title>

  <div class="row     align-items-center">
    <div class="timeline col-2">

      <div class="divider"></div>
      <span>○</span>
      <div class="divider"></div>
      <span>○</span>
      <div class="divider"></div>
      <span>○</span>
      <div class="divider"></div>

    </div>
    <div class="col-12 row cards">

      <div class="card col-10">
        <div class="header">
          <h1>teste</h1>
          <div class="links">
            <div class="github">
              <a rel="noreferrer noopener" target="_blank">
                <i class="fa-solid fa-arrow-up-right-from-square"></i>
              </a>
            </div>
            <div>
              <a rel="noreferrer noopener" target="_blank">
                <i class="fa-brands fa-github"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="description">
          <p>sjdfnsojd</p>
        </div>
        <div class="tecnologies">
          <ul>
            <li>sdjf</li>
          </ul>
        </div>
      </div>

      <div class="meio">
        <div class="card mt-3 col-10">
          <div class="header">
            <h1>teste</h1>
            <div class="links">
              <div class="github">
                <a rel="noreferrer noopener" target="_blank">
                  <i class="fa-solid fa-arrow-up-right-from-square"></i>
                </a>
              </div>
              <div>
                <a rel="noreferrer noopener" target="_blank">
                  <i class="fa-brands fa-github"></i>
                </a>
              </div>
            </div>
          </div>

          <div class="description">
            <p>sjdfnsojd</p>
          </div>
          <div class="tecnologies">
            <ul>
              <li>sdjf</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="card mt-3 col-10">
        <div class="header">
          <h1>teste</h1>
          <div class="links">
            <div class="github">
              <a rel="noreferrer noopener" target="_blank">
                <i class="fa-solid fa-arrow-up-right-from-square"></i>
              </a>
            </div>
            <div>
              <a rel="noreferrer noopener" target="_blank">
                <i class="fa-brands fa-github"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="description">
          <p>sjdfnsojd</p>
        </div>
        <div class="tecnologies">
          <ul>
            <li>sdjf</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
