<div class="body">
    <app-title [title]="'portfolio_work' | translate" [topic]="'010'"></app-title>

    <div class="row d-flex justify-content-center">
        <div class="flip-card col-sm-12 col-md-4 mt-4" [ngClass]="{ flipped: isFlipped1 }" (click)="toggleFlip1()">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="assets/img/dev.jpg" alt="" height="220" />
                    <h1><strong> Dev Intern</strong></h1>
                    <span>Senior Sistemas</span>
                </div>
                <div class="flip-card-back">
                    <h4><strong> 2022 - 2023</strong></h4>
                    <span>
                       {{'portfolio_work_senior' | translate}}
                    </span>
                    <ul class="list">
                        <li class="mt-1">Angular</li>
                        <li class="mt-1">HTML</li>
                        <li class="mt-1">CSS</li>
                        <li class="mt-1">JavaScript</li>
                        <li class="mt-1">TypeScript</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="flip-card col-sm-12 col-md-4 mt-4" [ngClass]="{ flipped: isFlipped3 }" (click)="toggleFlip3()">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="assets/img/ux.jpg" alt="" height="220" />
                    <h1><strong> Product Design Intern</strong></h1>
                    <span>Ambev Tech</span>
                </div>
                <div class="flip-card-back">
                    <h4><strong>2023 - 2024</strong></h4>
                    <span>
                      {{'portfolio_work_ambev' | translate}}

                    </span>

                    <ul class="list">
                        <li class="mt-1">UX</li>
                        <li class="mt-1">UI</li>
                        <li class="mt-1">Figma</li>
                        <li class="mt-1">Pesquisa</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="flip-card col-sm-12 col-md-4 mt-4" [ngClass]="{ flipped: isFlipped2 }" (click)="toggleFlip2()">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="assets/img/suport.jpg" alt="" height="220" />
                    <h1><strong> Full-Stack Developer</strong></h1>
                    <span>Publica Tecnologia</span>
                </div>
                <div class="flip-card-back">
                    <h4><strong> 2024 - Presente</strong></h4>
                    <span>
                      {{'portfolio_work_publica' | translate}}

                    </span>
                    <ul class="list">
                        <li class="mt-1">Java</li>
                        <li class="mt-1">SQL</li>
                        <li class="mt-1">SpringBoot</li>
                        <li class="mt-1">Angular</li>
                        <li class="mt-1">MySQL</li>
                        <li class="mt-1">PostgreSQL</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row d-flex justify-content-center mt-5">
        <div class="card col-10">
            <div class="header">
                <h1><strong> Entra21 & +Devs2Blu</strong></h1>
                <h4><strong>2023 - 2024</strong></h4>
            </div>

            <div class="description mt-3">
                <h3>
                    <strong> {{ 'portfolio_work_entra21' | translate }} </strong>
                    <app-tag-a
                        [link]="'https://www.entra21.com.br/'"
                        [text]="'portfolio_work_disponivel' | translate"
                    ></app-tag-a>
                </h3>
                <h3>
                    <strong> {{ 'portfolio_work_devs2blu' | translate }} </strong>
                    <app-tag-a
                        [link]="'https://www.devs2blu.com.br/'"
                        [text]="'portfolio_work_disponivel' | translate"
                    ></app-tag-a>
                </h3>

                <span class="mt-5">
                    {{ 'portfolio_work_p1' | translate }}
                    <strong>{{ 'portfolio_work_strong' | translate }}</strong>
                    {{ 'portfolio_work_p2' | translate }}

                    <ul class="mt-2">
                        <li>{{ 'portfolio_work_p3' | translate }}</li>
                        <li>{{ 'portfolio_work_p4' | translate }}</li>
                        <li>{{ 'portfolio_work_p5' | translate }}</li>
                    </ul>
                </span>
            </div>
            <div class="tecnologies">
                <ul class="list">
                    <li class="mt-1">Java</li>
                    <li class="mt-1">Lógica</li>
                    <li class="mt-1">Angular</li>
                    <li class="mt-1">HTML&CSS</li>
                    <li class="mt-1">Javascript</li>
                    <li class="mt-1">Banco De dados</li>
                    <li class="mt-1">Metodologias Ageis</li>
                </ul>
            </div>
        </div>

        <div class="inner mt-5 col-10">
            <div class="style-text">
                <h1><strong> {{ 'portfolio_work_furb_title' | translate }} </strong></h1>
                <h4><strong>{{ 'portfolio_work_furb_subtitle' | translate}}</strong></h4>
                <span
                    >{{'portfolio_work_furb' | translate}}</span
                >
                <br />
                <app-tag-a
                    class="mt-1"
                    [icon]="'fa-solid fa-link'"
                    [text]="'Disponivel em para acesso'"
                    [link]="'https://www.furb.br/ldtt/ricc/#/home'"
                ></app-tag-a>
            </div>

            <div class="style-pic">
                <img class="img" src="assets/img/Biblioteca.png" alt="" />
            </div>
        </div>
    </div>
</div>
