//$dark-theme;
$backgroud-primary: #131720;
$backgroud-secondary: #29125f81;
$primary-color: #a3a8ae;
$primary-color-title: #ccd6f6;
$secondary-color: #996dff;

:root {
  --backgroud-primary: #f0f2f5;
  --backgroud-secondary: #ffffff;
  --backgroud-menu: #ffefba;
  --primary-color: #333333;
  --primary-color-title: #000000;
  --secondary-color: #ff8c00;
  --header-background: rgba(255 244 179 / 50%);
  --card-background:#ffd9ad80;
  --img-color: #ffbc50;;;
  --img-back: url('./img/blue.svg');
}

:root .dark-theme {
  --backgroud-primary: #131720;
  --backgroud-menu: #1d1e27;
  --backgroud-secondary: #29125f81;
  --primary-color: #a3a8ae;
  --primary-color-title: #ccd6f6;
  --secondary-color: #996dff;
  --img-color: #996dff;
  --header-background: rgb(35 10 92 / 36%);
  --card-background:#180050;
  --img-back: url('./img/bg-star.svg');
}
