@import '../../../../assets/variables.scss';

a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: var(--secondary-color);
}

i{
  color: var(--primary-color);
}

a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0; /* Mantém a linha na mesma altura, independente do ícone */
  width: 0;
  height: 0.1rem !important; /* Ajuste a espessura da linha conforme necessário */
  background-color: var(--secondary-color);
  transition: width 0.3s ease;
}


a:hover::after {
  width: 100%; /* A sublinha se expandirá da esquerda para a direita ao passar o mouse */
}
