@import "../../../../assets/variables.scss";

.card {
  box-shadow: 0 10px 30px -15px #100036cd;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  flex-direction: column;
  align-items: flex-start;
  height: 25vh;
  padding: 2rem 1.75rem;
  border-radius: 16px;
  background-color: var(--card-background);
  transition: transform 0.5s;

  h1 {
    color: var(--primary-color-title);
  }

  a {
    color: var(--primary-color-title);
    cursor: pointer;
    font-size: 17pt;
    transition: 0.2s;
  }

  a:hover {
    color: var(--secondary-color);
  }
}
.card:hover {
  transform: translateY(-1vh);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

h1 {
  font-size: 15pt;
}

p {
  color: var(--primary-color) !important;
  margin-top: 0.5rem;
  margin-bottom: 0 !important;
}

.links {
  display: flex;
  align-items: center;

  .github {
    margin-right: 0.5rem !important;
    font-size: 15pt;
  }
}

ul {
  color: var(--primary-color) !important;

  display: flex;
  align-items: flex-end;
  flex-grow: 1;
  flex-wrap: wrap;
  padding: 0px;
  margin: 20px 0px 0px;
  list-style: none;

  li {
    margin-right: 0.5em;
    background-color: var(--tag-back);
    padding: 6px;
    border: 1px solid var(--tag-border);
    border-radius: 12px;
    font-size: 10pt;
  }
}
